body{
    background-color: #9ddedb;
}

.container{
    width: 50vw;
    height: 50vh;
    background-color: #9dcbd5;
    border: 2px solid #6f9da106;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.box{
    width: 80%;
    height: 60%;
    background-color: #ffffff;
    border: 2px solid #6f9da106;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
