nav{
    background-color: #76adab;
    color: #1e2e4a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    height: 2vh;
    width: 98vw;

}
body{
    margin: 0;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #a6dde9;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    align-items: center;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 70vh;
    width: 85vw;
    background-color: #76adab;
}
.recipe {
  display: block;      
  width: 95%;
  height: 80%;
  padding: 20px;
  overflow-y: auto;        
  text-align: left;
    background-color: #e3f2f2;
}
button{
    height: 5vh;
    font-size: 1.2em;
    background-color: #45787b;
    color: white;
    border: 2px solid #25433c;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    background-color: #387064;
    transform : scale(1.15);
}

img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}